@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'LINE Seed JP', 'Roboto', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 76px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}
